@media only screen and (min-width: 0rem) {
    #contactus-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #1a1a1a;
        padding-top: 7%;
        padding-bottom: 3%;
    }
    
    .contact-text {
        font-size: 16px;
        font-weight: 400;
        color: #fafbfc; 
        margin-top: -2%;
    }
    
    .contact-wrapper {
        display: inline-flex;
        list-style: none;
        margin-top: 20px;
    }
    
    .contact-wrapper .icon {
        position: relative;
        background: #fffafa;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0px 12px rgb(255, 49, 49);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .contact-wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .contact-wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .contact-wrapper .icon:hover .tooltip {
        top: -35px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    
    .contact-wrapper .discord:hover,
    .contact-wrapper .discord:hover .tooltip,
    .contact-wrapper .discord:hover .tooltip::before {
        background: #5D5179;
        color: #ffffff;
        box-shadow: 0 0px 12px rgb(121, 48, 163);
    }
    
    .contact-wrapper .instagram:hover,
    .contact-wrapper .instagram:hover .tooltip,
    .contact-wrapper .instagram:hover .tooltip::before {
        background: #EC69AF;
        color: #ffffff;
        box-shadow: 0 0px 12px rgb(189, 4, 137);
    }
    
    .contact-wrapper .linkedin:hover,
    .contact-wrapper .linkedin:hover .tooltip,
    .contact-wrapper .linkedin:hover .tooltip::before {
        background: #00A0CC;
        color: #ffffff;
        box-shadow: 0 0px 12px rgb(3, 21, 181);
    }
    
    .contact-wrapper .youtube:hover,
    .contact-wrapper .youtube:hover .tooltip,
    .contact-wrapper .youtube:hover .tooltip::before {
        background: #BE0E23;
        color: #ffffff;
        box-shadow: 0 0px 12px rgb(185, 2, 2);
    }
    
    .contact-wrapper .email:hover,
    .contact-wrapper .email:hover .tooltip,
    .contact-wrapper .email:hover .tooltip::before {
        background: #3EA923;
        color: #ffffff;
        box-shadow: 0 0px 12px rgb(3, 176, 66);
    }
    
    .contact-wrapper .icon:hover .fab,
    .contact-wrapper .icon:hover .fas {
        color: #ffffff;
    }
    
    .contact-wrapper .icon .fa-discord {
        color: #5D5179;
    }
    
    .contact-wrapper .icon .fa-instagram {
        color: #EC69AF;
    }
    
    .contact-wrapper .icon .fa-linkedin {
        color: #00A0CC;
    }
    
    .contact-wrapper .icon .fa-youtube {
        color: #BE0E23;
    }
    
    .contact-wrapper .icon .fa-envelope {
        color: #3EA923;
    }
    
    #footer {
        padding: 3.5%;
        background-color: #1a1a1a;
    }
    #footer .footer-content {
        width: 100%;
        max-width: 43.75rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    #footer .dga-logo-footer{
        width: 100%;
        position: relative;
    }
    #footer .cs-logo {
        width: 11.125rem;
        height: auto;
        display: block;
        margin-bottom: 1.5rem;
    }
    #footer .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #footer .cs-logo-img.dark {
        display: none;
    }
    #footer .footer-text {
        font-size: clamp(0.875rem, 2.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        margin-top: 20px;
        width: 78%;
        max-width: 26.25rem;
        color: #fff;
    }

    #footer .footer-text a {
        color:red;
    }
    #footer .footer-links {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.75rem;
    }
    #footer .footer-links-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #footer .footer-heading {
        font-size: 1rem;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: #fffafa;
        position: relative;
        display: block;
    }
    #footer .footer-links-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: #fffafa;
        position: relative;
        display: inline-block;
        transition: color 0.3s;
    }
    #footer .footer-links-link:before {
        content: "";
        width: 0%;
        height: 0.125rem;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #footer .footer-links-link:hover {
        color: #FF0303;
    }
    #footer .footer-links-link:hover:before {
        width: 100%;
    }
    #footer .cs-icon {
        width: 1.5rem;
        height: auto;
        margin-right: 0.75rem;
    }
    #footer .footer-cr {
        max-width: 80rem;
        margin: auto;
        margin-top: 2rem;
        padding-top: 1.5rem;
        border-top: 1px solid #484848;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #footer .copyright {
        order: 1; /
    }
    
    #footer .dga-footer {
        order: 2; 
    }
    
    #footer .dga-icons {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #footer .dga-icons li {
        margin-left: 10px;
    }
    
    #footer .dga-icons a i {
        font-size: 24px; 
        color: #fff;
        transition: color 0.3s;
    }
    
    #footer .dga-icons a:hover i {
        color: #FF0303; 
    }

    #footer .copyright,
    #footer .copyright-link {
        font-size: 1rem;
        line-height: 1.5em;
        color: #fafbfc;
    }
    #footer .copyright-link {
        text-decoration: none;
        transition: color 0.3s;
    }
    #footer .copyright-link:hover {
        color: #FF0303;
    }

    #footer .dga-navlogo {
        display: flex;
        align-items: center;
    }
    
    #footer .dga-navlogo h1 {
        color: white;
        margin-left: 10px; 
        font-size: 1.5rem; 
    }
        
}

@media only screen and (min-width: 48rem) {
    #footer .footer-content {
        row-gap: 0;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 2.5rem;
    }
    #footer .footer-links {
        width: auto;
    }
}

@media only screen and (min-width: 64rem) {
    #footer #contactus-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -12%;
    }

    #footer .footer-content {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: flex-end;
        column-gap: 5.25rem;
    }
    #footer .dga-logo-footer{
        width: 30%;
        max-width: 24.1875rem;

        margin-right: auto;
    }
    #footer .footer-text {
        width: 100%;
    } 
}

                                                               